.desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-primary);
  overflow: hidden;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-index-background);
  pointer-events: none;
}

.content {
  position: relative;
  z-index: var(--z-index-content);
  width: 100%;
  height: 100%;
}
